body {
    font-family: sans-serif;
    background-color: aliceblue;
}

h1 {
    color: blue;
    font-size: 23px;
    text-align: center;
}
h2 {
    color: blueviolet;
    font-size: 18px;
}
h3 {
    color: darkblue;
    font-size: 16px;
}
p {
    color: black;
    font-size: 14px;
}

#intro {    
    margin-left: 315px;
}
#seccion1 img{
    float: left;
    max-width: 300px;    
    margin-right: 15px;
}
#seccion1 {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.title {
    color: blue;
    font-size: 16px;
    margin-bottom: 8px;
} 
table, th, td {
    border: 1px solid blue;
    text-align: center;
    font-size: 13px;
}
table {
    float: left;
    margin-top: 20px;
    margin-left: 60px;
    width: 30%;
}  
#seccion_niveles img {
    float: right;
    width: 50%;
    margin-top: 10px;
    margin-right: 60px;
}

#seccion_composicion {
    float: right;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

#seccion_nubes {
    display: grid;
    grid-template-columns: auto auto auto;    
    float: left;
    margin-top: 10px;
    margin-right: 35px;
    margin-left: 60px;       
}
.nube {
    margin-right: 25px;
}
.nube img {        
    width: 90%;     
}

#seccion_importancia {
    float: left;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
